/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/arrow
 * -----------------------------------------------------------------------------
 */

.btn-arrow {
  @include background-default();
  background-image: url($url-icons + 'arrow-sm.svg');
  background-size: 100%;
  background-position: center center;
  box-shadow: none !important;
  display: block;
  height: 36px;
  right: -18px;
  position: absolute;
  top: -1px;
  width: 36px;

  &.is-active,
  &:hover {
    background-image: url($url-icons + 'arrow-active-sm.svg');
  }

  @include bp-md() {
    background-image: url($url-icons + 'arrow-lg.svg');
    height: 72px;
    right: -36px;
    width: 72px;

    &.is-active,
    &:hover {
      background-image: url($url-icons + 'arrow-active-lg.svg');
    }

    &.is-first {
      top: 0;
    }
  }
}
