/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-menu {
  display: block;
  height: 12px;
  position: relative;
  width: 20px;
  z-index: 201;

  @include bp-md() {
    height: 18px;
    width: 30px;
  }

  svg {
    @extend %is-responsive;
  }
}