/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'), url('fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
