/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

// Global colors
$color-black: #000000;
$color-white: #ffffff;

// Site colors
$color-primary: #222222;
$color-grey:    #666666;
$color-light:   #fbfbfb;
$color-dark:    #444444;
$color-pink:    #e94364;

// Logo Ring Colors
$color-burgundy: #721121;
$color-blush: #EA638C;
$color-midnight-blue: #190E4F;
$color-oxford-blue: #03012C;
$color-dark-green: #002A22;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

