/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

// Global colors
$color-black: #000000;
$color-white: #ffffff;

// Site colors
$color-primary: #222222;
$color-grey: #bbbbbb;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

