/**
 * -----------------------------------------------------------------------------
 * File: views/product
 * -----------------------------------------------------------------------------
 */

.post {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}