/**
 * -----------------------------------------------------------------------------
 * File: views/post
 * -----------------------------------------------------------------------------
 */

.post {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 75px);
  justify-content: center;
  width: 100%;
}