<footer class="bg-transparent w-full fixed bottom-0 left-0 z-40 px-15 sm:px-20 py-10 font-sans text-xs sm:text-sm flex sm:flex-col sm:gap-y-16 justify-between sm:justify-start">
  <div>
    {{ contact_information:name }}<br>
    {{ contact_information:address | nl2br }}
  </div>
  <div>
    <a 
      href="tel:{{ contact_information:phone }}"
      class="block text-raspberry no-underline hover:underline underline-offset-4 decoration-1">
      {{ contact_information:phone }}
    </a>
    <a 
      href="mailto:{{ contact_information:email }}"
      class="block text-raspberry no-underline hover:underline underline-offset-4 decoration-1">
      {{ contact_information:email }}
    </a>
  </div>
</footer>
{{ vite src="resources/js/app.js" }}
</body>
</html>