/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

@include scrollbar(6px, #f9f9f9);

html {
	overflow-y: scroll;
}

body {
	background-color: $color-light;
  background-color: $color-white;
	color: $color-primary;
	@include font-smoothing();
  @include font-regular();
	@include font-size($fs-md);
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;
	position: relative;
  transition: background-color .12s ease-in;
  &.is-dark {
    background-color: #111;
  }

	@include bp-sm() {
		max-width: none;
	}
}