/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

@include scrollbar(6px, #f9f9f9);

html {
	overflow-y: scroll;
}

body {
	background-color: $color-white;
	color: $color-primary;
	@include font-smoothing();
	@include font-regular();
	@include font-size($fs-md);
	letter-spacing: 0.06em;
	position: relative;
	text-transform: uppercase;
}