/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */

footer.site-footer {
  color: $color-grey;
  display: none;
  @include font-mono();
  @include font-size($fs-tiny);
  letter-spacing: 0.06em;
  padding: $space-4x 0 $space-6x 0;
  text-align: center;
  text-transform: uppercase;

  @include bp-sm() {
    display: block;
    padding: $space-4x 0;
  }
}

.is-dark {
  footer.site-footer {
    color: $color-white;
  }
}