/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */

footer.site-footer {
  color: $color-grey;
  @include font-regular();
  @include font-size($fs-sm);
  letter-spacing: 0.06em;
  padding: $space-4x 0;
  text-align: center;
  text-transform: uppercase;
}