/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: transparent;
  height: $header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 201;
  transition: opacity .1s ease-in;

  &.is-visible {
    opacity: 1;
    z-index: 50;
  }

  &.is-hidden {
    opacity: 0;
    z-index: 50;
  }
}