/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: transparent;
  height: $header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 201;
  transition: transform .12s ease-in;
  transform: translate(0,0);

  &.is-hidden {
    transform: translate(0,-105%);
  }
}