/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  padding: 0 $space-4x;
  position: relative;
  // scroll-snap-type: y mandatory;
  max-height: 100vh;

}
