/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 */

$fs-tiny: (
  null: (9px,1),
  sm:   (9px,1),
  md:   (10px,1),
  lg:   (10px,1)  
);

$fs-xs: (
  null: (10px,1.6),
  sm:   (10px,1.6),
  md:   (10px,1.6),
  lg:   (10px,1.6)  
);

$fs-sm: (
  null: (11px,1.5),
  sm:   (11px,1.5),
  md:   (12px,1.5),
  lg:   (12px,1.5)  
);

$fs-md: (
  null: (14px,1.35),
  sm:   (14px,1.45),
  md:   (16px,1.45),
  lg:   (16px,1.45)  
);
