/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 */

$fs-xs: (
  null: (9px,1),
  sm:   (9px,1),
  md:   (10px,1),
  lg:   (10px,1)  
);

$fs-sm: (
  null: (10px,1.6),
  sm:   (10px,1.6),
  md:   (12px,1.6),
  lg:   (12px,1.6)  
);

$fs-md: (
  null: (12px,1.6),
  sm:   (12px,1.6),
  md:   (12px,1.6),
  lg:   (12px,1.6)  
);
