/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

 @font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('fonts/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/JetBrainsMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/JetBrainsMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/JetBrainsMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'JetBrainsMono-Medium';
  src: url('fonts/JetBrainsMono-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/JetBrainsMono-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/JetBrainsMono-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/JetBrainsMono-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url('fonts/JetBrainsMono-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/JetBrainsMono-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/JetBrainsMono-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
