/**
 * -----------------------------------------------------------------------------
 * File: components/cards
 * -----------------------------------------------------------------------------
 */

.card {
  background-color: $color-white;
  box-shadow: 0 0 2px 0 rgba(100,100,100,0.2);
  color: $color-primary;
  max-width: 640px;
  margin: $space-4x 0;
  padding: $space-3x;
  position: relative;
  transition: box-shadow .02s ease-in;
  
  &:hover {
    box-shadow: 0 0 16px 0 rgba(100,100,100,0.1);
  }

  @include bp-md() {
    padding: $space-6x;
  }

  .card__content {
    padding: $space-3x 0 0 0;

    @include bp-md() {
      padding: $space-6x 0 0 0;
    }

    .card__info {
      @include font-size($fs-sm);
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      > div {
        border-top: 1px solid #eee;
        padding-top: $space-3x;

        &:first-of-type {
          border-right: 1px solid #eee;
          padding-right: $space-3x;
        }

        &:last-of-type {
          padding-left: $space-3x;
        }

        @include bp-sm() {
          // border-top: none;
          // padding-top: 0;
        }
      }

      label {
        color: $color-grey;
        display: block;
        @include font-regular();
        @include font-size($fs-sm);
        margin-bottom: 2px;
      }
    }
  }

  .card__description {
    margin-bottom: $space-6x;

    @include bp-sm() {
      background-color: rgba(255, 255, 255, .88);
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      left: 0;
      margin-top: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .1s ease-in;
      width: 100%;
      z-index: -1;

      > div {
        padding: $space-4x;
        max-width: 280px;
      }
    }

    p {

      @include bp-sm() {
        opacity: 0;
        text-align: center;
        transform: translateY(10px);
        transition: all .12s ease-in;
      }
    }

    span {
      border-bottom: 1px solid $color-primary;
      display: inline-block;
    }
  }

  &:hover {
    
    .card__description {
      opacity: 1;
      transition: opacity .12s ease-in;
      z-index: 101;

      p {
        opacity: 1;
        transform: translateY(0);
        transition: all .12s .24s ease-in;
      }
    }
  }
}
