/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.brand {
  display: block;
  height: auto;
  left: $space-4x;
  position: fixed;
  top: $space-4x;
  width: 160px;

  @include bp-sm() {
    left: $space-6x;
    top: $space-6x;
    width: 200px;
  }

  svg {
    @extend %is-responsive;
    position: relative;
  }
}
