/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.brand {
  border: 1px solid #721121;
  border-radius: 50%;
  display: block;
  height: 48px;
  left: $space-4x;
  padding: 2px;
  position: fixed;
  top: $space-4x;
  width: 48px;
  animation: brand 20s infinite;

  svg {
    @extend %is-responsive;
    position: relative;
  }
}

@keyframes brand {
  0% { 
    border-color: $color-burgundy;
  }
  25% {
    border-color: $color-blush;
  }
  50% {
    border-color: $color-midnight-blue;

  }
  75% {
    border-color: $color-dark-green;
  }
  100% { 
    border-color: $color-burgundy;
  }
}